{% extends 'main-temp/main.html' %} 
{% block title %}Результат{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/css/login-sign-up.css')}}">
{% endblock %}

{% block headerButton %}
    {% if is_auth %}

        <a href="{{ url_for('user.logout')}}"><button class="logout">Выйти</button></a>
        <p class = 'name'> Привет, {{ is_auth }}</p>
        <a href="{{ url_for('forms.add_form')}}"><button class="add-form-btn">Создать форму</button></a>
        <a href = "{{ url_for('forms.my_forms')}}"><button class = "my-forms-btn">Мои формы</button></a>
    {% else %}
        <a href="{{ url_for('user.login')}}"><button class="login">Login</button></a>
        <a href="{{ url_for('user.create_user')}}"><button class="signup">Sign Up</button></a>
    {% endif %}
{% endblock %}
{% block main %}
        <div class = "login-sign-up">
            
        </div>
{% endblock %}
