{% extends 'main-temp/main-without-footer.html' %} 
{% block title %}Все формы{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/css/all-forms.css')}}">
{% endblock %}

{% block headerButton %}
    {% if is_auth %}
        <a href="{{ url_for('user.logout')}}"><button class="logout">Выйти</button></a>
        <p class = 'name'> Привет, {{ is_auth }}</p>
        <a href="{{ url_for('forms.add_form')}}"><button class="add-form-btn">Создать форму</button></a>
    {% else %}
        <a href="{{ url_for('user.login')}}"><button class="login">Login</button></a>
        <a href="{{ url_for('user.create_user')}}"><button class="signup">Sign Up</button></a>
    {% endif %}
{% endblock %}

{% block main %}
<h1>Все тесты ваши тесты</h1>
    {% for data in form_data %}
        <h1>{{ data.form.name }}</h1>
        <table>
            <tr>
                <th>Кто сделал</th>
                <th>Баллы</th>
            </tr>
            {% if data.results %}
                {% for result in data.results %}
                <tr>
                    <td>{{ result.user }}</td>
                    <td>{{ result.score }}</td>
                </tr>
                {% endfor %}
            {% else %}
                <tr>
                    <td colspan="2">Эту форму ещё не выполняли</td>
                </tr>
            {% endif %}
        </table>
    {% endfor %}
{% endblock %}