{% extends 'main-temp/main.html' %} 
{% block title %}Вход{% endblock %}

{% block style %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'styles/css/login-sign-up.css')}}">
{% endblock %}

{% block headerButton %}
    {% if is_auth %}

        <a href="{{ url_for('user.logout')}}"><button class="logout">Выйти</button></a>
        <p class = 'name'> Привет, {{ is_auth }}</p>
    {% else %}
        <a href="{{ url_for('user.login')}}"><button class="login">Login</button></a>
        <a href="{{ url_for('user.create_user')}}"><button class="signup">Sign Up</button></a>
    {% endif %}
{% endblock %}
{% block main %}
<div class = "login-sign-up">
    <form method="post">
        <table>
            <tr>
                <td colspan="2"><h1>Вход</h1></td>
            </tr>
            <tr>
                <td><label>Login</label></td>
                <td><input name = "login" type="text" class = "login-text" required></td>
            </tr>
            <tr>
                <td><label>Password</label></td>
                <td><input name = "password" type="password" class="password" required></td>
            </tr>
            <tr>
                <td><label>Запомнить меня</label></td>
                <td><input name = 'remember' type="checkbox" checked></td>
            </tr>
            <tr>
                <td colspan="2"><h5><input type="submit" class = "submit" value="Войти"></h5></td>
            </tr>
        </table>
    </form>
</div>
{% endblock %}